In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
#Generate a data frame
df = pd.DataFrame ({
    'Jan': [1,2,3],
    'Feb': [4,5,6],
    'Mar': [7,8,9]},
    index =[1,2,3])

print (df)

#Another way of creating the same table

df1 = pd.DataFrame ([[1,4,7],
                    [2,5,8],
                    [3,6,9]],
                    index = [1,2,3],
                    columns = ['a','b','c'])

print(df1)

   Jan  Feb  Mar
1    1    4    7
2    2    5    8
3    3    6    9

   a  b  c
1  1  4  7
2  2  5  8
3  3  6  9

In [8]:
# multi index data frame

dfMultiIndex = pd.DataFrame({
    'a':[1,2,3],
    'b': [4,5,6],
    'c': [7,8,9]},
    index= pd.MultiIndex.from_tuples([('d',1),('d',2), ('e',2)],
    names =['x1', 'x2'])
)


dfMultiIndex

       a  b  c
x1 x2
d  1   1  4  7
   2   2  5  8
e  2   3  6  9

In [23]:
# functions to get values from the table

#iloc uses the index numbers of table
df.iloc[0,1] # Row Zero, Column 3 - remember the index starts form 0

#loc uses the names of the rows and columns
# output is slightly different
df.loc[1,['Feb']] #sensite to letters in names
df.loc[:,['Jan']]

   Jan
1    1
2    2
3    3